body{
    font-size: 1vw;
    margin: 0;
    background-image: linear-gradient(rgba(0, 255, 255, 0.747),rgba(63, 248, 63, 0.856));
    height: 150em;
}
#top{
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    display: flex;
    padding:1.5em 5em;
    background-repeat: no-repeat;
}
#mid{
    
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    display: flex;
    padding:1.5em;
    margin-top: 8em;
    background-repeat: no-repeat;
}
#name{
    padding-top: 0em;
    font-size: 1.2em;
    color: rgb(206, 134, 0);
}
#top img{
    padding: 3em 3em 3em 8em;
    width: 42%;
    height: 42%;
}
#mid img{
    padding: 3em;
    width: 45%;
    height: 45%;
}
#top-left{   
    width: 50vw;
}
#mid-right{   
    width: 50vw;
    padding: 3em 0 3em 5em;
}
h1{
    font-size: 3.5em;
}
h3{
    padding-top: 0.5em;
    font-size: 2.2em;
}
p{
    font-size: 1.5em;
    text-align: justify;
}
button{
    color: burlywood;
    font-weight: bolder;
    background-image: linear-gradient(red, blue);
    padding: 0.4em 1em;
    font-size: 2em;
    border: 0 solid;
    border-radius: 0.7em;
}